{% extends 'base.html.twig' %}
{% block title 'Agence immobilière' %}
{% block body %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Agence immobilière</h1>
            <p>Bienvenue sur mon agence immobilière</p>
        </div>
    </div>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            <a href="" class="close">x</a>
            {{ message }}
        </div>
    {% endfor %}
    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="row flex mt-4">
            {% for property in properties %}
                <div class="col-3">
                    {{ include('property/_property.html.twig') }}
                </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}